@media only screen and (max-device-width: 5in) {
    .gadget-card-box-size {
        width: 100%;
    }

    .gadget-card-size {
        margin-top: 20px;
    }

    .like-button-size {
        font-size: 2.2em;
    }

    .error-message {
        color: #ff0000;
        font-size: 2em;
    }

    .succeed-message {
        color: yellowgreen;
        font-size: 2em;
    }

    .mobile-button-padding {
        padding: 0;
    }

    .mobile-button-padding img {
        margin-top: 10px;
    }

    .share-button-size {
        height: 6em;
        line-height: 6em;
    }

    .share-button-size img {
        width: 4em;
    }

    .social-product-share-size {
        bottom: 10em;
        font-size: 1em;
        padding: 15px 8px;
    }

    .social-product-share-size a {
        font-size: 2.5em;
        letter-spacing: 1px;
    }

    .gadget-card-bottom-size {
        padding: 2em 5px 2em 1em;
    }

    .inputTextBoxSize {
        height: 3.3em;
        margin-top: 0.4em;
        margin-bottom: 1em;
        padding: 1.2em;
        font-size: 2em;
    }

    .loginButtonSize {
        height: 3em;
        margin-top: 1em;
        font-size: 2em;
        letter-spacing: 1px;
    }

    .facebookLoginButtonSize {
        margin-top: 1em;
        height: 3em;
        font-size: 2em;
        letter-spacing: 1px;
    }

    .hide-in-desktop {
        display: none;
    }

    .gadget-card-desc a {
    / / height : 3 em;

    }

    .gadget-name {
        font-weight: bold;
    }

    .gadget-description {
        margin-top: 1.2em;
        font-size: 0.8em;
        color: #7ba;
    }
}

@media only screen and (min-device-width: 5in) and (max-device-width: 13in) {
    .gadget-card-box-size {
        width: 50%;
    }

    .gadget-card-size {
        margin-top: 15px;
    }

    .gadget-buy-button {
        width: 100%;
        background: #333334;
        color: #eee;
        box-shadow: 0px 5px 5px #333;
    }

    .error-message {
        color: #ff0000;
        font-size: 1em;
    }

    .succeed-message {
        color: yellowgreen;
        font-size: 1em;
    }

    .like-button-size {
        font-size: 14px;
    }

    .mobile-button-padding {
        padding: 0;
    }

    .share-button-size {
        height: 3em;
        line-height: 3em;
    }

    .share-button-size img {
        width: 3em;
    }

    .mobile-button-padding img {
        width: 2em;
        margin-top: 10px;
    }

    .social-product-share-size {
        bottom: 2.6em;
        font-size: 2em;
        padding: 10px 5px;
    }

    .social-product-share-size a {
        padding: 0.5em;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .gadget-card-bottom-size {
        padding: 20px 5px 20px 20px;
    }

    .inputTextBoxSize {
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 14px;
    }

    .loginButtonSize {
        height: 40px;
        margin-top: 25px;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .facebookLoginButtonSize {
        margin-top: 25px;
        height: 40px;
        font-size: 13px;
        letter-spacing: 0.6px;
    }

    .hide-in-mobile {
        display: none;
    }

    .gadget-card-desc a {
    / / height : 30 px;
    }

    .gadget-description {
        margin-top: 10px;
        font-size: 11px;
        color: #7ba;
    }
}

@media only screen and (min-device-width: 13in) {
    .gadget-card-box-size {
        width: 33.33%;
    }

    .gadget-card-size {
        margin-top: 15px;
    }

    .gadget-buy-button {
        width: 100%;
        padding: 14px;
        background: #333334;
        color: #eee;
        box-shadow: 0px 2px 2px #333;
    }

    .like-button-size {
        font-size: 12px;
    }

    .error-message {
        color: #ff0000;
        font-size: 12px;
    }

    .succeed-message {
        color: yellowgreen;
        font-size: 12px;
    }

    .mobile-button-padding {
        padding: 0;
        height: 100%;

    }

    .share-button-size {
        height: 2.2em;
        line-height: 2.2em;
    }

    .share-button-size img {
        width: 1.4em;
    }

    .mobile-button-padding img {
        width: 20px;
        margin-top: 5px;
    }

    .social-product-share-size {
        bottom: 60px;
        font-size: 12px;
        padding: 8px 8px;
    }

    .social-product-share-size a {
        padding: 0;
        font-size: 13px;
    }

    .gadget-card-bottom-size {
        padding: 15px 5px 15px 15px;
    }

    .inputTextBoxSize {
        height: 50px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 12px;
    }

    .loginButtonSize {
        height: 40px;
        margin-top: 25px;
        font-size: 13px;
        letter-spacing: 1px;
    }

    .facebookLoginButtonSize {
        margin-top: 25px;
        height: 40px;
        font-size: 13px;
        letter-spacing: 0.6px;
    }

    .hide-in-mobile {
        display: none;
    }

    .gadget-image-container:hover .image-hover-container {
        opacity: 0.7;
        -webkit-transition: opacity 700ms;
        -moz-transition: opacity 700ms;
        -o-transition: opacity 700ms;
        transition: opacity 700ms;
    }

    .gadget-card-desc a {
    / / height : 30 px;
    }

    .gadget-name {

    }

    .gadget-description {
        margin-top: 10px;
        font-size: 11px;
        color: #7ba;
    }
}

.gadgets-column {
    position: relative;
    float: left;
}

.gadgets-column::after {
    clear: both;
}

.gadget-card-grid {
    display: block;
    margin: 0;
    padding: 0;
}

.gadget-card-box {
    display: block;
    float: left;
    overflow: hidden;
    padding: 10px;
}

.gadget-card {
    width: 100%;
    text-align: center;
    float: left;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.gadget-image-container {
    position: relative;
    width: 100%;
    text-align: center;
    height: 230px;
    background-size: cover;
    background: no-repeat 50% 50%;
    display: block;
    padding-top: 80%;
    border-radius: 8px 8px 0 0;
    opacity: 1;
    cursor: pointer;
}

.gadget-image-container:hover {
    background: #333;
    transition: all 0s ease 0s;
    background: no-repeat 54% 54%;
}

/* when user hover on product image */
.image-hover-container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
}

.video-buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #bbb;
    padding: 5px 8px 3px 8px;
    border-radius: 3px;
}

.video-buttons img {
    width: 30px;
}

.video-buttons:hover {
    background: #fff;
    box-shadow: 0 0 2px #111;
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms;
}

.hovered-product-desc {
    position: relative;
    top: 47%;
    color: #fff;
    padding: 5px;
    box-shadow: 0 0 2px #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* when user hover on product image end*/

.gadget-image-container a {
    cursor: pointer;
}

.gadget-image-container img {
    border-radius: 5px;
}

.gadget-card-bottom {
    position: relative;
}

.gadget-card-bottom ul {
    display: block;
}

.gadget-card-bottom::after {
    clear: both;
}

.gadget-card-desc {
    width: 70%;
    height: 100%;
    display: block;
    text-align: left;
    float: left;
}

.gadget-card-desc a {
    display: block;
    cursor: pointer;
}

.gadget-card-desc p {
    color: #777;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gadget-buy-button:hover {
    background: #b23b32;
    color: #EEE;
}

.gadgets-container {
    margin-top: 30px;
    position: relative;
    width: auto;
    height: auto;
}

.gadgets-container:after {
    clear: both;
}

.gadgets-container::after {
    clear: both;
}

.like-button {
    width: 20%;
    display: block;
    float: left;
}

.like-button img {
    vertical-align: middle;
}

.like-button a {
    cursor: pointer;
    width: 100%;
    display: block;
    color: #aaa;
}

.share-button {
    display: block;
    width: 10%;
    float: left;
    cursor: pointer;
}

.share-button img {
    vertical-align: middle;
}

.view-details-button {
    width: 100%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.view-details-button a {
    cursor: pointer;
    width: 100%;
    display: block;
    color: #aaa;
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms;
}

.view-details-button a:hover {
    background: #ff5858;
    color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.gadget-video {
    background: #333;
    color: white;
    cursor: pointer;
    top: 15px;
    left: 15px;
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
}

.loading-spinner {
    width: 100%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    left: 50%;
}

.loading-spinner img {
    margin-left: -50px;
}

/* GadgetCard.jsx start*/
.social-product-share {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    right: 0;
    left: 50%;
    position: absolute;
    display: none;
    text-transform: capitalize;
}

.social-product-share::after {
    background-image: url(/images/down_arrow.png);
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: auto 15px;
    bottom: -15px;
    content: "";
    display: block;
    height: 15px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    width: 30px;
}

.social-product-share a {
    display: block;
    text-decoration: none;
    color: rgba(73, 75, 90, 0.72);
}

.social-product-share a:hover {
    color: #111;
    background: none;
}

.clear-both-side {
    clear: both;
}

/* GadgetCard.jsx end*/

/* Login buttons */
.inputTextBox {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #888;
}

.loginButton {
    -webkit-appearance: none;
    width: 100%;
    background: #ff5858;
    border: 1px solid #9FC;
    color: #eee;
    cursor: pointer;
    border-radius: 3px;
}

.loginButton:hover {
    background: #ff6969;
}

.facebookLoginButton {
    -webkit-appearance: none;
    background: #4e69a2;
    width: 100%;
    border: 1px solid #9FC;
    color: #eee;
    cursor: pointer;
    border-radius: 3px;
}

.facebookLoginButton:hover {
    background: #5f7ab3;
}

/* Login buttons end*/

/* Right to left animation to div */

.right-to-screen-animate {
    right: 0;
}

/* Right to left animation to div ends */

.flipkartBuyButton {
    background: #99f;
    color: #fff;
}

.flipkartBuyButton:hover {
    background: #fc752c;
}

.snapdealBuyButton {
    background: #99f;
    color: #fff;
}

.snapdealBuyButton:hover {
    background: #f51156;
}

.amazonBuyButton {
    background: #99f;
    color: #fff;
}

.amazonBuyButton:hover {
    background: #ed9220;
}

.line-break-mobile {
    margin: 20px 0;
    position: absolute;
    height: 2.5em;
    background: #fff;
    width: 100%;
    left: 0;
    right: 0;
    -moz-box-shadow: inset 0 0 20px 0 rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: inset 0 0 20px 0 rgba(68, 68, 68, 0.6);
    box-shadow: inset 0 0 20px 0 rgba(100, 100, 100, 0.6);
}

.hide-me {
    display: none;
}
