@import "../../../css/scss/common/common";

$hiddenNewsLetterPos: -220px;
$newsLetterHeight: 230px;
$newsletterFontColor: #cdcdcd;

@media only screen and (max-device-width: $mobileWidth) {
  $hiddenNewsLetterPos: -240px;
  .news-letter-signup-container {
    bottom: -280px;
  }
  .newsletter-signup-input input {
    vertical-align: middle;
    padding: 20px;
    width: 200px;
    background: #dedede;
    border: 1px solid #999999;
    border-radius: 4px;
    margin-top: 20px;
  }

  .newsletter-signup-input a {
    display: block;
    width: 150px;
    padding: 18px 40px;
    border: 1px solid #777;
    border-radius: 4px;
    color: #cdcdcd;
    margin: 20px auto 30px;
  }

  .news-letter-signup-hide {
    bottom: -265px;
    -webkit-animation: hide-newsletter 600ms;
  }
}

@media only screen and (min-device-width: $mobileWidth) {

  .news-letter-signup-container {
    bottom: $hiddenNewsLetterPos;
    height: $newsLetterHeight;
  }

  .newsletter-signup-input input {
    vertical-align: middle;
    padding: 20px;
    width: 350px;
    background: #dedede;
    border: 1px solid #999999;
    border-right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .newsletter-signup-input a {
    line-height: 80px;
    padding: 18px 40px;
    border: 1px solid #777;
    border-left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #cdcdcd;
    vertical-align: middle;
  }

  .news-letter-signup-hide {
    bottom: $hiddenNewsLetterPos;
    -webkit-animation: hide-newsletter 600ms;
  }
}

.news-letter-signup-container {
  position: fixed;
  left: 0;
  right: 0;
  //height: $newsLetterHeight;
  background: rgb(53, 52, 48);
  z-index: 4;
}

.newsletter-signup-input {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.newsletter-signup-input label{
  margin-top: 20px;
  display: block;
  color: #9a9a9a;
}

.newsletter-signup-input h2 {
  margin-top: 35px;
  color: $newsletterFontColor;
  font-size: 30px;
}

.newsletter-signup-input p {
  margin-top: 10px;
  color: #787878;
  font-size: 18px;
}

.newsletter-signup-input input:focus {
  outline: none;
}

.newsletter-signup-input a:hover {
  border: 1px solid #cdcdcd;
}

.newsletter-signup-circle {
  position: absolute;
  width: 70px;
  height: 50px;
  right: 70px;
  top: -30px;
  background: rgb(53, 52, 48);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  text-align: center;
  cursor: pointer;
}

.newsletter-signup-circle img {
  margin-top: 5px;
  width: 40px;
}

.news-letter-signup-show {
  bottom: 0;
  -webkit-animation: expand 600ms;
}

@-webkit-keyframes expand {
  0% {
    bottom: $hiddenNewsLetterPos;
  }
  100% {
    bottom: 0px;
  }
}

@-webkit-keyframes hide-newsletter {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: $hiddenNewsLetterPos;
  }
}