@media only screen and (max-device-width: 5in) {
    .signupContainerSize {
        width: 100%;
    }

    .notYetRegistered {
        font-size: 2em;
        margin-top: 2em;
        text-align: center;
    }

    .errorMessage {
        color: #ff0000;
        font-size: 2em;
    }
}

@media only screen and (min-device-width: 5in) and (max-device-width: 13in) {
    .signupContainerSize {
        width: 350px;
    }

    .notYetRegistered {
        font-size: 14px;
        margin-top: 20px;
        text-align: center;
    }

    .errorMessage {
        color: #ff0000;
        font-size: 1em;
    }
}

@media only screen and (min-device-width: 13in) {
    .signupContainerSize {
        width: 350px;
        padding: 20px;
        margin-right: 10px;
    }

    .notYetRegistered {
        font-size: 13px;
        margin-top: 20px;
        text-align: center;
    }

    .errorMessage {
        color: #ff0000;
        font-size: 12px;
    }

}

.signupContainer {
    padding: 20px;
    position: inherit;
    display: table-cell;
}

.signupContainer h1 {
}

.notYetRegistered a {
    cursor: pointer;
    color: #0000ff;;
    text-decoration: underline;
}